{% extends "base.html" %}
{% block title %}Archief {{current_year }} - Evosites {% endblock %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <h1>All posts in {{ current_year }}</h1>
            <hr>
        </div>
    </div>

    <div class="columns">
        <div class="column is-10 is-offset-1">
            {% if posts %}
            <table class="table">
            {% for post in posts %}
                <tr>
                    <td>{{ post.fields.publicatie_datum|date:'d F Y'  }}</td>
                    <td><a href="{% url 'blog-single' slug=post.fields.slug %}">{{post.titel}}</a></td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
             <h1>No posts found</h1>
            {% endif %}
        </div>
    </div>

    <div class="columns">
        <div class="column is-10 is-offset-1">
            <strong>Posts in other years</strong>
            <ul class="archive-year-list">
            {% for year in posts_years %}
                <li><a href="{% url 'blog-archive' year=year %}">{{ year }}</a></li>
            {% endfor %}
            </ul>
        </div>
        </div>
</section>
{% endblock %}