{% extends "base.html" %}
{% block title %}Your Company{% endblock title %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-10 is-offset-1">
        {% if posts %}
            {% for blog in posts %}
                <!-- Title + Date -->
                <h1 class="post-title">
                    <a href="{% url 'blog-single' slug=blog.fields.slug %}">{{ blog.titel }}</a>
                </h1>
                <p><span class="tag">{{ blog.sys.created_at|date:'d F Y'  }}</span></p>

                <!-- Image -->
                <a href="{% url 'blog-single' slug=blog.fields.slug %}" class="image">
                    <img class="image post-header-image" src="{{ blog.afbeelding.url }}"
                         alt="{{blog.afbeelding.alt}}">
                </a>

                <!-- Summary -->
                <p class="samenvatting">{{blog.samenvatting}}

                <!-- Read More-->
                <span> <a href="{% url 'blog-single' slug=blog.fields.slug %}">
                        <span class="post-list-readmore">Read more
                            <i class="fa fa-angle-double-right"></i>
                        </span>
                    </a>
                </span>
                </p>
            {% endfor %}

            <!-- More Posts-->
            <section class="section">
             <div class="columns">
                <div class="columns is-10 is-offset-1">
                    <p><a href="{% url 'blog-archive-current-year' %}">More posts</a></p>
                </div>
            </div>
            </section>

        {% else %}
            <h1>No posts found</h1>
        {% endif %}
        </div>
    </div>
</section>
{% endblock %}