{% extends "base.html" %}
{% block title %}{{ post.titel }} - Your Company{% endblock %}
{% load markdownify %}

{% block content %}
<section class="section">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <h1 class="post-title">{{ post.titel }}</h1>
                <p><span class="tag">{{ post.sys.created_at|date:'d F Y'  }}</span></p>
                <!-- Image -->
                <img class="post-header-image" src="{{ post.afbeelding.url }}" alt="{{post.afbeelding.alt}}">
                 {{ post.content|markdownify|safe }}
            </div>
        </div>
</section>
{% endblock content %}