@font-face
  font-family: "Filson Soft W01_n2"
  src: url("../filson/fonts/cdd2df22-acba-4824-bf96-ff4b555d6e17.eot?#iefix") format("eot")

@font-face
  font-family: "Filson Soft W01"
  src: url("../filson/fonts/cdd2df22-acba-4824-bf96-ff4b555d6e17.eot?#iefix")
  src: url("../filson/fonts/cdd2df22-acba-4824-bf96-ff4b555d6e17.eot?#iefix") format("eot"),url("../filson/fonts/37ad7bda-bbb6-4056-998b-0afee7ae2f84.woff2") format("woff2"),url("../filson/fonts/2017bc60-bef9-4052-ae89-0c2cda8bfd1e.woff") format("woff"),url("../filson/fonts/732bca20-f410-4e2d-9b8d-2ea619b5312c.ttf") format("truetype"),url("../filson/fonts/e5f80e9b-ad0f-48b9-b464-93f6b2108136.svg#e5f80e9b-ad0f-48b9-b464-93f6b2108136") format("svg")
  font-weight: 200
  font-style: normal

@font-face
  font-family: "Filson Soft W01_n4"
  src: url("../filson/fonts/08ecc5dc-9fff-4b48-8f2c-a2c52bfd9a5a.eot?#iefix") format("eot")

@font-face
  font-family: "Filson Soft W01"
  src: url("../filson/fonts/08ecc5dc-9fff-4b48-8f2c-a2c52bfd9a5a.eot?#iefix")
  src: url("../filson/fonts/08ecc5dc-9fff-4b48-8f2c-a2c52bfd9a5a.eot?#iefix") format("eot"),url("../filson/fonts/a4d55032-0a0f-4a03-b17a-cdd0d3dd7412.woff2") format("woff2"),url("../filson/fonts/5d14dbeb-af72-4894-9a29-e257f48a430e.woff") format("woff"),url("../filson/fonts/3848c90e-5c3c-4292-b14f-306df00ef9c5.ttf") format("truetype"),url("../filson/fonts/02afbfff-fd87-4f59-80fb-626dd72c490e.svg#02afbfff-fd87-4f59-80fb-626dd72c490e") format("svg")
  font-weight: 400
  font-style: normal

@font-face
  font-family: "Filson Soft W01_n5"
  src: url("../filson/fonts/95dba563-e7e2-4cae-a574-81de456c3265.eot?#iefix") format("eot")

@font-face
  font-family: "Filson Soft W01"
  src: url("../filson/fonts/95dba563-e7e2-4cae-a574-81de456c3265.eot?#iefix")
  src: url("../filson/fonts/95dba563-e7e2-4cae-a574-81de456c3265.eot?#iefix") format("eot"),url("../filson/fonts/62afcae6-d7ed-41a7-ace6-c9091465f236.woff2") format("woff2"),url("../filson/fonts/b936a5ff-79e5-40ed-a95a-a7236fc2f049.woff") format("woff"),url("../filson/fonts/cb53ea4d-8a0d-40c1-8e3f-68f7a1fb27e1.ttf") format("truetype"),url("../filson/fonts/1738090f-24e7-4609-9123-821c2049aa7f.svg#1738090f-24e7-4609-9123-821c2049aa7f") format("svg")
  font-weight: 500
  font-style: normal

@font-face
  font-family: "Filson Soft W01_n7"
  src: url("../filson/fonts/6940b43e-0afd-4181-a150-d1414876d157.eot?#iefix") format("eot")

@font-face
  font-family: "Filson Soft W01"
  src: url("../filson/fonts/6940b43e-0afd-4181-a150-d1414876d157.eot?#iefix")
  src: url("../filson/fonts/6940b43e-0afd-4181-a150-d1414876d157.eot?#iefix") format("eot"),url("../filson/fonts/3a7b0fd2-5898-470f-8c75-77c16a1c68d8.woff2") format("woff2"),url("../filson/fonts/b476c2c0-dc15-4bce-8330-4452e37c93c2.woff") format("woff"),url("../filson/fonts/dfbbeae9-0f30-4700-9faf-ff88e8d749f2.ttf") format("truetype"),url("../filson/fonts/751fb90f-e523-4f6c-b4ee-91a39c647955.svg#751fb90f-e523-4f6c-b4ee-91a39c647955") format("svg")
  font-weight: 700
  font-style: normal

@font-face
  font-family: "Filson Soft W01_n8"
  src:  url("../filson/fonts/ab5182a6-6e5b-43c5-a683-6140a6ea4b79.eot?#iefix") format("eot")

@font-face
  font-family: "Filson Soft W01"
  src: url("../filson/fonts/ab5182a6-6e5b-43c5-a683-6140a6ea4b79.eot?#iefix")
  src: url("../filson/fonts/ab5182a6-6e5b-43c5-a683-6140a6ea4b79.eot?#iefix") format("eot"),url("../filson/fonts/9895b4c3-ee74-4569-a651-404c34c4671c.woff2") format("woff2"),url("../filson/fonts/60018ad5-6897-49b7-8856-4d849e2a18a6.woff") format("woff"),url("../filson/fonts/29900e10-4eb9-4944-9453-3a792383e47a.ttf") format("truetype"),url("../filson/fonts/cc8ab960-b7f9-465f-a398-bd2707a01445.svg#cc8ab960-b7f9-465f-a398-bd2707a01445") format("svg")
  font-weight: 800
  font-style: normal
