{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block content %}
<section class="section" id="contact">
    <div class="columns">
        <div class="column is-10 is-offset-1">

        <h3>This is a contactpage</h3>
            <p>Add your contact info, like a phonenumber and your emailaddress.</p>

        <h3>Contactform</h3>
            <p>Create an account at <a href="https://www.mailgun.com/">Mailgun</a> to make the form work. Add your Mailgun Api in the config file. If you don't want to use the form, simply delete it.</p>
        <br>
        <form class="form" role="form" method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="field">
            <label class="label">Name</label>

            <p class="control has-icons-left">
                {{ form.name }}
                <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                </span>
                {{ form.name.errors }}
            </p>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <p class="control has-icons-left">
                {{ form.email }}

                <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
                </span>
                {{ form.email.errors }}
            </p>
        </div>

            <div class="field">
                <label class="label">Subject</label>
                <p class="control has-icons-left">
                    {{ form.subject }}
                    <span class="icon is-small is-left">
                    <i class="fa fa-info"></i>
                    </span>
                    {{ form.subject.errors }}
                </p>
            </div>

            <div class="field">
                <label class="label">Message</label>
                <p class="control">
                    {{ form.message }}
                    {{ form.message.errors }}
                </p>
            </div>

            <div class="field is-grouped">
                <p class="control">
                    <button type="submit" class="button is-primary">Send</button>
                </p>
                <p class="control">
                    <button type="reset" class="button is-warning">Cancel</button>
                </p>
            </div>

        </form>
        </div>
    </div>
</section>

{% endblock content %}