<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>

  <body>
    <p>Hello, </p>
    <p>You received a new message via the contactform on {{ site }}. Details:</p>
    <p>
    Subject: {{ subject }} <br>
    Sender:   {{ name }} <br>
    Sender email: {{ sender_email }} <br>
    Message: <br>
    </p>
    <p>{{ message }}</p>
  </body>
</html>