{% extends "base.html" %}
{% block title %}Message sent - Your Company{% endblock title %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <h1>Message sent</h1>
            <p>Thanks for your message, I will get back to you as soon as possible!</p>
        </div>
    </div>
</section>
{% endblock content %}