/*! bulma.io v0.4.2 | MIT License | github.com/jgthms/bulma */
@charset "utf-8"

// Override variables
@import "sass/utilities/initial-variables"

// 1. Initial variables
$blue: #3277bb
$blue-light: #4785c2
$white-hover: rgba(255,255,255,0.7)
$white-active: rgba(255,255,255,0.5)
$grey-lighter: #fafafa
$grey-light: #e4e4e4
$grey-dark: #aaaaaa
$grey-darker: #888888
$yellow: #f7de58
$body-size: 22px

// 2. Derived variables
$primary: $blue
$success: $blue
$warning: $yellow
$link: $primary
$text: $grey-darker


// Import other elements
@import "sass/utilities/_all"
@import "sass/base/_all"
@import "sass/elements/_all"
@import "sass/components/_all"
@import "sass/grid/_all"
@import "sass/layout/_all"
@import "sass/fonts/fonts"


// 3. Wrappers
html, body
  height: 100%
  margin: 0
  padding: 0
  font-family: "Filson Soft W01"

  +tablet
    font-size: 0.99rem
  +mobile
    font-size: 0.95rem

#main-wrapper
  min-height: 100%
  display: flex
  flex-direction: row

#menu-wrapper
  flex-basis: 33%
  background-color: $blue

#content-wrapper
  display: flex
  flex-direction: column
  justify-content: space-between
  flex-basis: 67%

#content-wrapper
  flex-basis: 100%


// 4. Typography
h1
  font-size: $size-1

  +mobile
    font-size: $size-4

h2
  font-size: $size-2

h3
  font-size: $size-3

a
  color: inherit
  border-bottom: solid 1px $grey-light
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out

  &:hover
    color: $blue
    border-bottom: none

p
  margin-bottom: 1.5em

ul li
  padding-left: 0.5em

ul
  list-style: disc
  margin: 0 0 1.5em 0
  padding-left: 1em

table a
  border-bottom: none

.fa
  vertical-align: baseline

// 4. Menu
#menu-large
  justify-content: center
  background-color: $blue
  padding-left: 0
  padding-right: 0
  color: $white

  .section
    background-color: $blue

.site_tag
  font-size: $size-medium
  text-align: center
  font-weight: $weight-bold
  padding-left: 2.5em
  padding-right: 2.5em

#menu-small
  background-color: $blue

.nav-item
  font-size: $size-large

  +mobile
    font-size: $size-medium

#menu-large .nav-item
  border-bottom: solid 2px $blue-light

  &:last-child
    border-bottom: none

.nav-item a,
a.nav-item
  color: $white
  &:hover
    color: $white-hover
  // Modifiers
  &.is-active
    color: $white-active

a.logo
  border-bottom: none


// 5. Content


// 6. Footer
#footer
  background-color: $grey-lighter


// 7. Posts
h1 a
  border-bottom: none

.post-header-image
  margin-bottom: 1.5em

a.image
  border-bottom: none


// 8. Tables
.table-25
  width: 25%

.table-75
  width: 75%

.table a
  border-bottom: solid 1px $grey-light

// 9. Forms
.control.has-icons-left .icon
  color: $grey-light