<!-- Mobile -->
<nav id="menu-small" class="nav is-hidden-tablet">
    {% for item in menu_items %}
        <a class="nav-item" href="{% url item.0 %}">{{ item.1 }}</a>
    {% endfor %}
</nav>

<!-- Tablet/Desktop -->
<div id="menu-large" class="is-hidden-mobile">
    <section class="section">
        {% load static %}
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <a href="{% url 'home' %}" class="logo"><img class="logo" src="{% static 'logo.png' %}"></a>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                {% site_information as info %}
                <p class="site_tag">{{info.site_tag}}</p>
            </div>
        </div>

        <div class="columns">
            <div class="column">
            {% for item in menu_items %}
                <a class="nav-item" href="{% url item.0 %}">{{ item.1 }}</a>
            {% endfor %}
            </div>
        </div>
    </section>
</div>