{% extends "base.html" %}
{% block title %}Niets gevonden - Evosites {% endblock title %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <h1>Oops, that page doesn't exists!</h1>
            <p>Go back to <a hef="{% url 'home' %}">Home</a>, or take a look at the <a href="{% url 'blog_latest_current_year' %}">archive</a>.</p>
        </div>
    </div>
</section>
{% endblock content %}