<!DOCTYPE html>
<!--suppress ProblematicWhitespace -->
<html>
	<head>
        {% site_information as info %}
		<title>{% block title %}{{info.site_name}} - {{object.title}}{% endblock %}</title>
		<meta charset="utf-8" />
        {% load static %}
		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- CSS -->
		<link rel="defer stylesheet" href="{% static '/css/bulma.css' %}" />

		<!-- Font Awesome 4 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>
    <body>
        <div id="menu-wrapper-mobile" class="is-hidden-tablet">
            {% menu_walker %}
        </div>

        <div id="main-wrapper">
            <div id="menu-wrapper" class="is-hidden-mobile">
                <!-- Main menu -->
                {% menu_walker %}
            </div>

            <!-- Content -->
            <div id="content-wrapper">
                {% block content %}

                {% endblock content %}
                <div class="section" id="footer">
                    <footer>
                    <div class="columns">
                        <div class="column is-5 is-offset-1">
                           © Your Company
                        </div>
                    </div>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>