{% extends "base.html" %}
{% block title %}Over - Evosites {% endblock %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <h1>Over Evosites</h1>
            <p>Hallo, mijn naam is Erwin Matijsen. Onder de naam Evosites ben ik als zelfstandig webdeveloper actief vanuit Meppel en Groningen voor zzp'ers en het mkb. Ik werk veel met <a href="https://wordpress.org">Wordpress</a> en <a href="https://www.djangoproject.com/">Django</a>. Zowel maken, onderhouden als aanpassen van websites is mogelijk.</p>

            <h3>Aanpak</h3>
            <p>Mijn websites kenmerken zich door een eenvoudige stijl. Eenvoud bereiken is minder eenvoudig dan het lijkt, want hoe houd je de goede focus op je website? Wat moet er wel op en wat niet? Hierin denk ik graag met je mee.</p>

            <p>Verder kun je van mij verwachten dat ik goed naar je wensen luisteren, maar ook kritisch met je meedenk. Ook vind ik het belangrijk dat we de website samen maken, jij vanuit je eigen expertise en ik vanuit mijn expertise als webbouwer. Twee weten meer dan één, immers.</p>

            <h3>Doelgroep</h3>
            <p>Met Evosites richt ik me op ZZP’ers en het MKB. Enerzijds omdat ik zelf ook een klein ondernemer ben, en me dus goed in jouw situatie kan inleven. Anderzijds omdat ik daar gewoon het meest plezier uithaal: mooie, functionele websites maken voor kleine ondernemers die geen grote marketingafdelingen achter zich hebben.</p>

            <h3>Projecten</h3>
            <p>Lees mijn <a href="{% url 'blog-archive-current-year' %}">blog</a> om te kijken waar ik zoal mee bezig ben voor klanten. Als ik niet bezig ben met opdrachten voor klanten, werk ik aan andere interessante projecten.</p>
            <table class="table">
                <tr>
                    <td class="table-25"><a href="https://mirandum.nl">Mirandum</a></td>
                    <td class="table-75">Ik ben mede-oprichter van <a href="https://mirandum.nl">Mirandum</a>, een online invalpoule voor invaldocenten. Ik ben verantwoordelijk voor de gehele <em>back-end</em>.</td>
                </tr>
                <tr>
                    <td><a href="https://wordpress.org/plugins/share-article/">Share Article</a></td>
                    <td>Share Article is een Wordpress plugin waarmee je eenvoudig berichten van andere websites op je eigen website kunt delen. Bekijk op <a href="https://wordpress.org/plugins/share-article/">Wordpress</a> of op <a href="https://gitlab.com/erwinmatijsen/share-article">Gitlab</a></td>
                </tr>
            </table>

        </div>
    </div>
</section>
{% endblock %}